@charset "utf-8";

/*Pequenas telas: até 600px
Celular:  de 600px até 768px
Tablet: de 769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Permanent Marker', cursive;
}

body {
    color: #ff6600;
    background-color: black;
}

/*CABEÇALHO */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.158);
    width: 100%;
}

h1 {
    padding: 10px;
}

h1 > a {
    text-decoration: none;
    color:rgb(255, 102, 0);
    padding: 10px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

li > a {
    color:rgb(255, 102, 0);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

li > a:hover {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.37);
}

/*CABEÇALHO */

/* CORPO */

section.seções {
    background-color: white;
    margin:10px 0px;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

section#imagem-fidelidade {
    background-image: url(../Imagens/sushi.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.texto {
    background-color: rgba(0, 0, 0, 0.664);
    height: 40vh;
    text-align: center;
}

div.texto > h2 {
    font-size: 1.8em;
    padding: 10px;
}

div.texto > p {
    background-color: white;
    padding: 20px;
    margin-top: 55px;
    font-size: 1.2em;
}

section#imagem-rodizio {
    background-image: url(../imagens/sushi-rodizio.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8em;
}

div#redes-sociais {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}


/* CARDAPIO */
main img {
    border: .5px solid white;
    border-radius: 15px;
    width: 40vw;
    margin: 10px;
}

picture > p {
    display: flex;
    align-items: center;
    text-align: justify;
    padding-right: 8px;
    color: white;
}

picture > p:hover {
    border-radius: 10px;
    border: 1px solid rgb(255, 102, 0);
    color:rgb(255, 102, 0);

}
/* CARDAPIO */