@charset "utf-8";

/*Pequenas telas: até 600px
Celular:  de 600px até 768px
Tablet: de 769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

:root {
    --cor01: #ff6600; /*Fonte*/
    --cor02: #ffffff28; /*Fundo Cabeçalho*/
    --font-texto: 'Permanent Marker', cursive;
}
