@charset "utf-8";

/*Pequenas telas: até 600px
Celular:  de 600px até 768px
Tablet: de 769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

:root {
    --cor01: #ff6600; /*Fonte*/
    --cor02: #ffffff28; /*Fundo Cabeçalho*/
    --font-logo: 'Permanent Marker', cursive;
    --font-texto:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
    
body {
    background-color: black;
    font-family:var(--font-texto);
}

/*Cabeçalho*/

header {
    background-color: white;
}

h1 {
    font-family: var(--font-logo);
    text-align: center;
}

h1 > a {
    font-size: 1.5em;
    color: var(--cor01);
    text-decoration: none;
    text-shadow: 1px 0px black;
}

span.material-symbols-outlined {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid white;
}

span.material-symbols-outlined:hover {
    background-color: var(--cor01);
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    color: var(--cor01);
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    box-sizing: border-box;
    border: 1px solid;
    padding: 5px;
}

menu > ul > li > a:hover {
    background-color: black;
}

/* Corpo */

section.imagens {
    background-color: white;
    margin: 10px 0;
}

div#imagem-rodizio {
    height: 300px;
    background-image: url(../imagens/sushi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#imagem-fidelidade {
    height: 300px;
    background-image: url(../imagens/sushi-rodizio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p.rodizio-fidelidade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 35%;
    background-color: rgba(128, 128, 128, 0.733);
    color: white;
    height: 100px;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 2px 1px black;
}


section#redes-sociais {
    background-color: white;
}



